{% extends 'base.html.twig' %}
{% block title %}Контакты{% endblock %}

{% block noncontainer %}
    <div class="container-fluid container-blue">
        <div class="row row-cols-2 row-cols-lg-3">
            <div class="col-sm-6 col-lg-4 text-center mb-3">
                <div><img class="img-contacts" src="svg/Group 2.svg"></div>
                {% if contacts.number1 %}
                <a class="text-contacts d-block" href="tel:{{ contacts.number1 }}">{{ contacts.number1 }}</a>
                {% endif %}
                {% if contacts.number2 %}
                    <a class="text-contacts d-block" href="tel:{{ contacts.number2 }}">{{ contacts.number2 }}</a>
                {% endif %}
            </div>
            {% if contacts.email %}
                <div class="col-sm-6 col-lg-4  text-center mb-3">
                    <div><img class="img-contacts" src="svg/Group 3.svg"></div>
                    <a class="text-contacts" href="mailto:{{ contacts.email }}">{{ contacts.email }}</a>
                </div>
            {% endif %}
            {% if contacts.workTime %}
                <div class="col-sm-6 col-lg-4  text-center mb-3">
                    <div><img class="img-contacts" src="svg/Clip path group.svg"></div>
                    <p class="text-contacts">{{ contacts.workTime }}</p>
                </div>
            {% endif %}

            {% if contacts.wa %}
                <div class="col-sm-6 col-lg-4  text-center mb-3">
                    <div><img class="img-contacts" src="svg/Group.svg"></div>
                    <a class="text-contacts" href="{{ contacts.wa }}">Написать в WhatsApp</a>
                </div>
            {% endif %}
            {% if contacts.tg %}
                <div class="col-sm-6 col-lg-4  text-center mb-3">
                    <div><img class="img-contacts" src="svg/Layer_1.svg"></div>
                    <a class="text-contacts" href="{{ contacts.tg }}">Написать в Telegram</a>
                </div>
            {% endif %}
            {% if contacts.address %}
                <div class="col-sm-6 col-lg-4  text-center mb-3">
                    <div><img class="img-contacts" src="svg/Group 4.svg"></div>
                    <p class="text-contacts">{{ contacts.address }}</p>
                </div>
            {% endif %}
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.0747698091013!2d30.355513777109042!3d59.93090147491122!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631a4dcb7823b%3A0x4326bbe83981245b!2z0J_Rg9GI0LrQuNC90YHQutCw0Y8g0YPQuy4sIDIsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTEwMjU!5e0!3m2!1sru!2sru!4v1681992916110!5m2!1sru!2sru"
                width="100%" height="370" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
{% endblock %}
