{% extends 'base.html.twig' %}
{% block title %}Контакты{% endblock %}

{% block noncontainer %}
    <div class="container-fluid container-blue">
        <div class="row row-cols-2 row-cols-lg-3">
            <div class="col-sm-6 col-lg-4 text-center mb-3">
                <div><img class="img-contacts" src="svg/Group 2.svg"></div>
                {% if contacts.number1 %}
                <a class="text-contacts d-block" href="tel:{{ contacts.number1 }}">{{ contacts.number1 }}</a>
                {% endif %}
                {% if contacts.number2 %}
                    <a class="text-contacts d-block" href="tel:{{ contacts.number2 }}">{{ contacts.number2 }}</a>
                {% endif %}
            </div>
            {% if contacts.email %}
                <div class="col-sm-6 col-lg-4  text-center mb-3">
                    <div><img class="img-contacts" src="svg/Group 3.svg"></div>
                    <a class="text-contacts" href="mailto:{{ contacts.email }}">{{ contacts.email }}</a>
                </div>
            {% endif %}
            {% if contacts.workTime %}
                <div class="col-sm-6 col-lg-4  text-center mb-3">
                    <div><img class="img-contacts" src="svg/Clip path group.svg"></div>
                    <p class="text-contacts">{{ contacts.workTime }}</p>
                </div>
            {% endif %}

            {% if contacts.wa %}
                <div class="col-sm-6 col-lg-4  text-center mb-3">
                    <div><img class="img-contacts" src="svg/Group.svg"></div>
                    <a class="text-contacts" href="{{ contacts.wa }}">Написать в WhatsApp</a>
                </div>
            {% endif %}
            {% if contacts.tg %}
                <div class="col-sm-6 col-lg-4  text-center mb-3">
                    <div><img class="img-contacts" src="svg/Layer_1.svg"></div>
                    <a class="text-contacts" href="{{ contacts.tg }}">Написать в Telegram</a>
                </div>
            {% endif %}
            {% if contacts.address %}
                <div class="col-sm-6 col-lg-4  text-center mb-3">
                    <div><img class="img-contacts" src="svg/Group 4.svg"></div>
                    <p class="text-contacts">{{ contacts.address }}</p>
                </div>
            {% endif %}
        </div>
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0dddfa22a66d166495f3838a43647dcddf3afea833f641bd0aac9c51532521e6&amp;width=100%25&amp;height=473&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
{% endblock %}
