{% extends 'base.html.twig' %}
{% block title %}{{ seoService.findByPath(app.request.pathinfo).title|default('Авиакомпания АГАТ | Документы') }}{% endblock %}

{% block body %}
    <div class="col-12 text-center mb-3">
        <h1 class="header text-dark-blue">Документы</h1>
    </div>
    {% set break = false %}
    {% for document in documents %}
        <center><h3 class="mt-2">{{ document.title }}</h3></center>
        {{ document.description|raw }}
        <center>
            <a class="fs-6 btn btn-dark-blue mt-2 mb-2" data-open-full="1"
               href="{{ baseUrl }}{{ asset('files/'~document.filename) }}" target="_blank">
                Открыть в полный экран
            </a>
        </center>
        <div class="d-none d-xl-block">
            <embed class="" data-embed="1" src="{{ asset('files/'~document.filename) }}" type="application/pdf"
                   height="1200px"
                   width="100%">
        </div>
        <hr>
    {% endfor %}
    {% for folder in folders %}

        <button class="btn btn-light-blue col-12 mt-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#{{ folder.id }}" aria-expanded="false" aria-controls="collapseExample">
            {{ folder.name }}
        </button>

        <div class="collapse mb-3" id="{{ folder.id }}">
            {% for document in folder.documents %}
                <center><h3 class="mt-2">{{ document.title }}</h3></center>
                {{ document.description|raw }}
                <center>
                    <a class="fs-6 btn btn-dark-blue mt-2 mb-2" data-open-full="1"
                       href="{{ baseUrl }}{{ asset('files/'~document.filename) }}" target="_blank">
                        Открыть в полный экран
                    </a>
                </center>
                <div class="d-none d-xl-block">
                    <embed class="" data-embed="1" src="{{ asset('files/'~document.filename) }}" type="application/pdf"
                           height="1200px"
                           width="100%">
                </div>
                <hr>
            {% endfor %}
        </div>

    {% endfor %}
    <script>
        if ((window.innerWidth <= 800) || (window.innerHeight <= 600)) {
            document.querySelectorAll('[data-embed="1"]').forEach(function (elem) {
                elem.remove();
            });
            document.querySelectorAll('[data-open-full="1"]').forEach(function (elem1) {
                elem1.innerText = 'Скачать файл';
            });
        }
    </script>
{% endblock %}
