{% extends 'base.html.twig' %}
{% block title %}Отзывы{% endblock %}

{% block noncontainer %}
    <div class="container-lg">
        <div class="row g-0 align-items-center mb-5">
            <div class="d-none d-lg-flex col-3"></div>
            <div class="col-sm-12 col-lg-6 text-center">
                <h1 class="header">Отзывы</h1>
            </div>
            <div class="col-sm-12 col-lg-3 text-center">
                <button class="button-feedback px-4 py-2 mt-4" onclick="launchModal()">Оставьте свой отзыв!</button>
            </div>
        </div>
        {% set index = 1 %}
        {% for feedback in feedbacks|reverse %}
            {% if index % 2 !=0 %}
                <div class="row px-3 mb-4 wow fadeInLeftBig">
                    <div class="col-12 col-md-3 px-0" onclick="launchModalCaroulsel({{ feedback.images|json_encode }})">
                        <img class="col-12 img-fluid h-100" style="object-fit: cover" src="{{ asset('uploads/'~feedback.images[0]|default('image_feedback.png')) }}">
                        <div class="text-center fs-6 col-8 fw-bold bg-light-blue text-white" style="position: relative; z-index: 20; margin-top: -30px">
                            <p class="text-white">Фотографий: {{ feedback.images|length }}<p>
                        </div>
                    </div>
                    <div class="col-12 col-md-9 bg-light-blue p-4">
                        <h2 class="text-white text-center">{{ feedback.name }}  {{ feedback.createAt|date('d.m.Y') }}</h2>
                        <p class="text-white text-center">{{ feedback.text }}</p>
                        {% if feedback.rating %}
                            <div class="text-center">
                                {% for i in 1..5 %}
                                    {% if feedback.rating >= i %}
                                        <img src="svg/n.svg">
                                    {% else %}
                                        <img src="svg/i.svg">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="row px-3 mb-4 wow fadeInRightBig">
                    <div class="col-12 d-md-none px-0" onclick="launchModalCaroulsel({{ feedback.images|json_encode }})">
                        <img class="col-12 img-fluid h-100" style="object-fit: cover" src="{{ asset('uploads/'~feedback.images[0]|default('image_feedback.png')) }}">
                        <div class="text-center fs-6 col-8 fw-bold bg-light-blue text-white" style="position: relative; z-index: 20; margin-top: -30px">
                            <p class="text-white">Фотографий: {{ feedback.images|length }}<p>
                        </div>
                    </div>
                    <div class="col-12 col-md-9 bg-dark-blue p-4">
                        <h2 class="text-white text-center">{{ feedback.name }}  {{ feedback.createAt|date('d.m.Y') }}</h2>
                        <p class="text-white text-center">{{ feedback.text }}</p>
                        {% if feedback.rating %}
                            <div class="text-center">
                                {% for i in 1..5 %}
                                    {% if feedback.rating >= i %}
                                        <img src="svg/n.svg">
                                    {% else %}
                                        <img src="svg/i.svg">
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="d-none d-md-inline-block col-12 col-md-3 px-0" onclick="launchModalCaroulsel({{ feedback.images|json_encode }})">
                        <img class="col-12 img-fluid h-100" style="object-fit: cover" src="{{ asset('uploads/'~feedback.images[0]|default('image_feedback.png')) }}">
                        <div class="text-center fs-6 col-8 fw-bold bg-light-blue text-white" style="position: relative; z-index: 20; margin-top: -30px">
                            <p class="text-white">Фотографий: {{ feedback.images|length }}<p>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% set index = index + 1 %}
        {% endfor %}
    </div>
    {% include './particles/modal.html.twig' %}
    {% include './particles/modal_feedback_caroulsel.html.twig' %}
{% endblock %}