{% extends 'base.html.twig' %}
{% block title %}{{ seoService.findByPath(app.request.pathinfo).title|default('Авиакомпания АГАТ | Услуги технического обслуживания судов') }}{% endblock %}
{% block body %}
    <div class="container-sm">
        <div class="row mb-5">
            <a href="{{ path('app_flight_service') }}" class="col-12 col-lg-4 text-decoration-none text-black mb-3">
                <div class=" border border-1 shadow-blue-outer text-center ">
                    Услуги по выполнению <br>
                    авиационных работ
                </div>
            </a>
            <a href="{{ path('app_maintenance_service') }}" class="col-12 col-lg-4 text-decoration-none text-black mb-3">
                <div class="border border-1 shadow-dark-blue-inner text-center bg-light-blue text-white">
                    Услуги технического<br> обслуживания
                    судов
                </div>
            </a>
            <a href="{{ path('app_consult_service') }}" class="col-12 col-lg-4 text-decoration-none text-black mb-3">
                <div class="border border-1 shadow-blue-outer text-center ">
                    Услуги оценки соответствия <br>
                    воздушных судов, консультации
                </div>
            </a>
        </div>
    </div>
    <div class="container-sm">
        {% set i = 1 %}
        {% for s in services %}
            {% if s.isVisible == 1 %}
            <div class="row shadow-blue-outer mb-5 {% if i % 2 == 0 %}wow fadeInRightBig{% else %}wow fadeInLeftBig{% endif %}">
                <div class="col-12 col-lg-5 ps-0 pe-0">
                    <img src="{{ asset('uploads/' ~ s.image|default('image_feedback.png')) }}" class="img-fluid" style="width: 100%; object-fit: cover">
                </div>
                <div class="col-12 col-lg-7 py-2">
                    <h2 class="text-light-blue text-center mb-2">{{ s.title }}</h2>
                    <p id="description">
                        {{ truncateHtmlService.truncate(s.description|raw)|raw }}
                    </p>
                    <div class="row">
                        <div class="row text-center">
                            <div class="col-12 mt-3">
                                <a class="btn-dark-blue rounded-0 fs-4 px-5 py-2  text-decoration-none" onclick="launchDescriptionModal(
                                        `{{ s.title }}`,
                                        `{{ s.description }}`,
                                        `{{ asset('uploads/' ~ s.image|default('image_feedback.png')) }}`)">
                                    Подробнее
                                </a>
                            </div>
                            <div class="col-12 mt-3">
                                <a class="btn-dark-blue rounded-0 fs-4 px-5 py-2  text-decoration-none" onclick="launchModal(`{{ s.title }}`)">Отправить заявку</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% set i = i + 1 %}
            {% endif %}
        {% endfor %}
    </div>
    {% include './particles/orderModal.html.twig' %}
    {% include './particles/descriptionModal.html.twig' %}
{% endblock %}