<style>
    @media (min-width: 1400px) {
        #navbarNavDropdown {
            display: none !important;
            width: 0 !important;
        }
    }
</style>
<nav class="navbar navbar-expand-xxl bg-white navbar-light p-0 sticky-top border-bottom pt-1">

    <div class="container-fluid ">
        <div>
            <a class="navbar-brand me-5" href="{{ path('app_main') }}">
                <img height="100" src="{{ asset('svg/logo.svg') }}" alt="logo">
{#                <div class="d-flex d-sm-none fs-6 me-4 text-center text-dark-blue">#}
{#                    г. Санкт-Петербург#}
{#                </div>#}
            </a>

        </div>

{#        <div class="language">#}
{#            <img src="images/lang/ru.jpg" alt="ru" data-google-lang="ru" class="language__img">#}
{#            <img src="images/lang/en.jpg" alt="en" data-google-lang="en" class="language__img">#}
{#        </div>#}

        <div class="row ">
            <div class="d-block p-0 mt-3">
{#                <div class="d-block d-sm-none fs-7 mb-1 text-center text-dark-blue">#}
{#                    г. Санкт-Петербург#}
{#                </div>#}
                <div class="d-none d-sm-block fs-4 mb-1 text-center text-dark-blue">
                    г. Санкт-Петербург
                </div>
                <div class="navbar-nav d-none d-xxl-flex ms-auto me-auto">
                    <div class="row mt-1">
                        {% for menu in menuService.getMenu %}
                            {% if menu.isEnabled %}
                                <div class="col-auto ps-1 pe-1 mx-1 fs-5
                                    border-top rounded-top-3
                                    {% if (app.request.pathinfo == menu.link
                                    or (app.request.pathinfo == '/service/maintenance' and menu.link == '/service/flight')
                                    or (app.request.pathinfo == '/service/consult' and menu.link == '/service/flight')) %}
                                    active
                                    bg-dark-blue
                                    {% else %}
                                    bg-light-blue
                                    {% endif %}">
                                    <a class="nav-link mx-0 text-white" aria-current="page" href="{{ menu.link }}">
                                        {{ menu.title }}
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="row">
                <div class="col-6">
                    <ul class="navbar-nav ms-auto me-auto fs-5">

                        {% for menu in menuService.getMenu %}
                            {% if menu.isEnabled %}
                                <li class="nav-item">
                                    <a class="nav-link mx-2
                                {%
                                        if (app.request.pathinfo == menu.link
                                        or (app.request.pathinfo == '/service/maintenance' and menu.link == '/service/flight')
                                        or (app.request.pathinfo == '/service/consult' and menu.link == '/service/flight'))
                                %}
                                text-light-blue
                                active
                                {% else %}
                                text-dark-blue
                                {% endif %}
                                "
                                       aria-current="page" href="{{ menu.link }}">{{ menu.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-6 mt-2 float-end text-end ">
                    <span class="text-dark-blue d-block fs-5">Контакты:</span>
                    <a class="text-black fs-6 d-block ls-2" href="mailto:{{ contactService.getContacts.email }}">
                        {{ contactService.getContacts.email }}
                    </a>
                    <a class="text-black fs-6 d-block" href="tel:{{ contactService.getContacts.number1 }}">
                        {{ contactService.getContacts.number1 }}
                    </a>
                    <a class="text-black fs-6 d-block" href="tel:{{ contactService.getContacts.number2 }}">
                        {{ contactService.getContacts.number2 }}
                    </a>
{#                    <span class="fs-6 d-block">#}
{#                    {{  contactService.getContacts.email }}#}
{#                    </span>#}
{#                    <span class="fs-6 d-block">#}
{#                        {{ contactService.getContacts.number1 }}#}
{#                    </span>#}
{#                    <span class="fs-6 d-block">#}
{#                        {{ contactService.getContacts.number2 }}#}
{#                    </span>#}
                    <div class="align-self-center mt-2">
                        <button class="btn btn-light-blue rounded-3"
                                onclick="window.location='{{ path('app_admin_main') }}'">
                            Вход для<br> сотрудников
                        </button>
                    </div>
                </div>
                <div class="d-block d-sm-none mt-3 fs-4 mb-1 text-center text-dark-blue">
                    г. Санкт-Петербург
                </div>
            </div>
        </div>


        <div class="navbar-text p-0 d-none d-xxl-flex">
            <div class="row gap-5 ">
                <div class="col-auto">
{#                    <span class="text-dark-blue d-block fs-5">Контакты:</span>#}
                    <a class="text-black fs-6 d-block ls-2" href="mailto:{{ contactService.getContacts.email }}">
                        {{ contactService.getContacts.email }}
                    </a>
                    <a class="text-black fs-6 d-block" href="tel:{{ contactService.getContacts.number1 }}">
                        {{ contactService.getContacts.number1 }}
                    </a>
                    <a class="text-black fs-6 d-block" href="tel:{{ contactService.getContacts.number2 }}">
                        {{ contactService.getContacts.number2 }}
                    </a>
{#                    <span class="text-dark-blue d-block fs-5">Контакты:</span>#}
{#                    <span class="fs-6 d-block">#}
{#                    {{  contactService.getContacts.email }}#}
{#                    </span>#}
{#                    <span class="fs-6 d-block">#}
{#                        {{ contactService.getContacts.number1 }}#}
{#                    </span>#}
{#                    <span class="fs-6 d-block">#}
{#                        {{ contactService.getContacts.number2 }}#}
{#                    </span>#}
                </div>
                <div class="col-auto align-self-center">
                    <div class="text-center btn-light-blue rounded-3 p-2" onclick="window.location='https://job.akagat.ru'">
                        Вход для<br> сотрудников
                    </div>
                </div>
            </div>
        </div>
    </div>


</nav>